
*{
    font-size: 1.1rem;
    font-family: 'Agbalumo';
}
body{
  background: linear-gradient(90deg, rgba(165,111,123,1) 0%, rgba(153,97,89,1) 48%, rgba(207,179,139,1) 100%);;
 
}
img{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    display: block;
}

header img{   
    height: 200px;
    width: 200px;    
}

li{
    list-style: none;
    width: calc(100% /5);
}

#logo{
    border-radius: 50%;
}
.done{
    text-decoration: line-through;
}

#siestas{
    width: 300px;
    height: 300px;
    border-radius: 20%;
    opacity: 60%;
}

main{
    width: 100%;
    height: calc(100% - 200px);
}
.point{
    cursor: pointer;
}
.btn{
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}